<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.984009463630-s6mc75jmn0qluma7rrnulo9c4oloannp</string>
			</array>
		</dict>
	
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb1129219537826755</string>
            </array>
        </dict>
    </array>
	<key>FacebookAppID</key>
	<string>1129219537826755</string>
	<key>FacebookClientToken</key>
	<string>50d94275875c3cf25a35c235a308d588</string>
	<key>FacebookDisplayName</key>
	<string>SmartHomeApp</string>
	<key>GIDClientID</key>
	<string>984009463630-s6mc75jmn0qluma7rrnulo9c4oloannp.apps.googleusercontent.com</string>
</dict>
</plist>
